<h1>About me!</h1>
<div class="divider"></div>
<p>
  My name is Ulises Avila Camargo and I am 22, I am a Software Engineer. I live
  in a small city called Irapuato in Guanajuato.
</p>
<p>
  I love to play videogames, watch movies and sometimes watch anime, my favorite
  genre in general is psycological and fantasy.
</p>
<div class="card-image center">
  <%= image_tag("myself.jpg", size: "240x270")%>
</div>
