<h1>About my favorite band!</h1>
<div class="divider"></div>
<p>
  As a "gamer" (I do not like labels but sometimes they are useful)
  I am used to hear a lot of types of music, but it does not restrain me
  to have a favorite.
</p>
<p>
  What struck me very hard back in my early years as a teeneager was
  playing for the first time Megaman X4, it was an outstanding flowing of joy
  hearing the electronic tracks off the game, I could not shake them off
  my head that easily, since then I chose the electronic genre to be my favorite.
</p>
<p>
  Sometime passed a I discovered a song on youtube:
</p>
<div class="col s6 offset-s3">
  <div class="video-container">
    <iframe width="480" height="270" src="//www.youtube.com/embed/TxvpctgU_s8?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="row"></div>
<p>
  I liked that song and then checked the channel of this song realizing that it was
  a DJ the author of this song, he is Armin Van Buuren and started his career in 1996,
  he has have a radio show called "A state of trance" since 2001 which helped him
  to grow the interest of the trance genre around the world.
</p>
<div class="card-image center">
  <%= image_tag("armin.jpg", size: "480x270")%>
</div>
<p>
  These are the genres that Armin does:
</p>
<div class="col s6 offset-s3">
  <ul class="collection">
    <li class="collection-item">Trance</li>
    <li class="collection-item">Uplifting trance</li>
    <li class="collection-item">Progessive trance</li>
    <li class="collection-item">House</li>
    <li class="collection-item">Progressive house</li>
    <li class="collection-item">Electro house</li>
  </ul>
</div>
<div class="row"></div>
<p>
  Also every year he makes an albun named like his radio show with original
  songs and with songs broadcasted in the show
</p>
