<h1>Home page!</h1>
<div class="divider"></div>
<p>
  Hello everyone!, this is my first page buil with
  the framework Ruby on Rails, I hope you enjoy it,
  if not then you can:
</p>
<div class="card-image center">
  <%= image_tag("gate.jpg", size: "240x270")%>
</div>
<h6 class="center">
  Abandon hope all ye who enter here
</h6>
