<h1>About my favorite sport!</h1>
<div class="divider"></div>
<p>
  I am no really a sports person, I do not even follow
  new trends like e-sports. But what I like is drone racing,
  I do not think that anything can match the joy of fliying
  an expensive adult RC toy.
</p>
<div class="card-image center">
  <%= image_tag("racing_drone.jpg", size: "480x270")%>
</div>
<p>
  Currently I do not have the money to build a racing drone
  like the one in the picture, so I have to fly a cheap chinese
  drone and watch videos on youtube.
</p>
<div class="col s6 offset-s3">
  <div class="video-container">
    <iframe width="480" height="270" src="//www.youtube.com/embed/uHP2AhsL-Zw?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="row"></div>
<p>
  It is an incredible experience to have a first person view kit,
  it is one of my dreams to be able to fly a drone in this way.
</p>
