<header>
  <div class="parallax-container" >
    <div class="parallax" id="headImg"><%=image_tag("city.jpg", size: "1920x1080", alt: "")%></div>
    <div class="container">
      <div class="section">
        <div class="row col s12">
          <div class="header center col s6 offset-s3 ">
            <h1 class="grey-text text-lighten-3">First Rails app!</h1>
            <h3 class="grey-text text-lighten-3">Deployed on Heroku too</h3>
            <div class="card-image col s4 offset-s4 valign-wrapper">
              <img src="" class="circle responsive-img valign">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
