<header id="index">
  <div class="parallax-container">
    <div class="parallax"><%=image_tag("city.jpg", size: "1920x1080", alt: "")%></div>
    <div class="container">
      <div class="section">
        <div class="row col s12">
          <div class="header center col s6 offset-s3 ">
            <h1 class="brown-text text-darken-4">Phony title</h1>
            <h3 class="brown-text text-darken-4">Phony subtitle</h3>
            <div class="card-image col s4 offset-s4 valign-wrapper">
              <img src="" class="circle responsive-img valign">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
