<!-- NavBar section -->
<div class="navbar-fixed">
  <nav class="grey darken-4">
    <div class="nav-wrapper">
      <a href="#index" class="brand-logo center waves-effect">MagmaHackers</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#about" class="waves-effect">About me</a></li>
        <li><a href="#contact" class="waves-effect">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="side-nav" id="mobile-demo">
  <li class="userView valign-wrapper">
    <div class="background">
      <img src="pictures/upBackground.jpg">
    </div>
    <a href=""><span class="brown-text text-darken-4 name center"><h2 class="valign">Eduardo's site</h2></span></a>
    <br>
  </li>
  <li><a href="#index" class="waves-effect">Index</a></li>
  <li><div class="divider"></div></li>
  <li><a href="#about" class="waves-effect">About me</a></li>
  <li><div class="divider"></div></li>
  <li><a href="#contact" class="waves-effect">Contact</a></li>
  <li><div class="divider"></div></li>
</ul>
